<header>
    <div class="top-nav">
        <h2 id="header-text">country stats</h2>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" (ngModelChange)="searchCountry(key.value)" #key="ngModel" ngModel name="key"
                        id="search" class="form-control" placeholder="Search country...">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-warning" data-toggle="modal" data-target="#addCountry">Add country</button>
        </div>
    </div>


    <div class="row">
        <div *ngFor="let country of countries" class="c">
            <div class="card country-holder">
                <img class="card-img-top" src="{{country.flagUrl}}">
                <div class="card-body">
                    <div class="card-title"></div>
                    <p><b>Name: </b> {{country?.name}}</p>
                    <p><b> Population: </b>{{country?.population}}</p>
                    <p><b>Capital: </b> {{country?.capital}}</p>
                    <button data-toggle="modal" data-target="#seeStates" class="btn btn-primary"
                        (click)="seeStates(country)">States</button>
                    <button type="button" data-toggle="modal"   class="btn btn-info">Edit
                        states</button>
                    <br>
                    <button type=" button" data-toggle="modal" data-target="#editModal" class="btn btn-info"
                        (click)="onEdit(country)">Edit</button>
                    <button type="button" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger"
                        (click)="onDelete(country, null)">Delete
                        country</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addCountry" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add a country</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form #addForm="ngForm">
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <input type="text" id="name" ngModel name="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="capital">Capital: </label>
                            <input type="text" id="capital" ngModel name="capital" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="population">Population: </label>
                            <input type="number" id="population" ngModel name="population" class="form-control"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="flagUrl">Flag URL: </label>
                            <input type="text" id="flagUrl" ngModel name="flagUrl" class="form-control" required>
                        </div>
                        <div class="form-group" id="new-states">
                            <label for="states">States: </label>
                            <button type="button" (click)="showAddCountryField();"><b>+</b></button>

                        </div>
                        <div class="modal-footer">
                            <button type="button" (click)="clearForm()" class="btn btn-info close"
                                data-dismiss="modal">Close</button>
                            <button [disabled]="addForm.invalid" type="button"
                                (click)="addCountry(addForm.value); clearForm();" data-dismiss="modal"
                                data-toggle="modal" class="btn btn-success">Add</button>
                            <button id="clearButton" style="display: none;" (click)="clearForm()" type="reset"></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class=" modal fade" id="seeStates" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">States</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <ul *ngFor="let state of statesOfCountry">
                        <li><b>Name:</b> {{state.name}}, <b>Population:</b> {{state.population}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete country</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">Are you sure want to delete {{deleteCountry?.name}} ?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info close" data-dismiss="modal">No</button>
                    <button type="button" data-toggle="modal" class="btn btn-danger" data-dismiss="modal"
                        (click)="onDelete(deleteCountry, true)">Delete!</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit country - {{editCountry?.name}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <input type="text" id="name" class="form-control" name="name"
                                ngModel="{{editCountry?.name}}">
                        </div>
                        <div class="form-group" style="display: none;">
                            <input type="hidden" id="id" name="id" ngModel="{{editCountry?.id}}">
                        </div>
                        <div class="form-group">
                            <label for="population">Population: </label>
                            <input type="number" class="form-control" id="population" name="population"
                                ngModel="{{editCountry?.population}}">
                        </div>
                        <div class="form-group">
                            <label for="capital">Capital: </label>
                            <input type="text" id="capital" class="form-control" name="capital"
                                ngModel="{{editCountry?.capital}}">
                        </div>
                        <div class="form-group">
                            <label for="flagUrl">Flag url: </label>
                            <input type="text" id="flagUrl" class="form-control" name="flagUrl"
                                ngModel="{{editCountry?.flagUrl}}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info close" data-dismiss="modal">Close</button>
                    <button type="button" data-toggle="modal" class="btn btn-success" data-dismiss="modal"
                        (click)="saveEdit(editForm.value)">Save</button>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="editStates" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit states of - {{editCountry?.name}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <input type="text" id="name" class="form-control" name="name"
                                ngModel="{{editCountry?.name}}">
                        </div>
                        <div class="form-group" style="display: none;">
                            <input type="hidden" id="id" name="id" ngModel="{{editCountry?.id}}">
                        </div>
                        <div class="form-group">
                            <label for="population">Population: </label>
                            <input type="number" class="form-control" id="population" name="population"
                                ngModel="{{editCountry?.population}}">
                        </div>
                        <div class="form-group">
                            <label for="capital">Capital: </label>
                            <input type="text" id="capital" class="form-control" name="capital"
                                ngModel="{{editCountry?.capital}}">
                        </div>
                        <div class="form-group">
                            <label for="flagUrl">Flag url: </label>
                            <input type="text" id="flagUrl" class="form-control" name="flagUrl"
                                ngModel="{{editCountry?.flagUrl}}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info close" data-dismiss="modal">Close</button>
                    <button type="button" data-toggle="modal" class="btn btn-success" data-dismiss="modal"
                        (click)="saveEdit(editForm.value)">Save</button>
                </div>
            </div>
        </div>
        <div id="noCountryFound" style="display: none;" class="alert alert-warning">
            <strong>No matching country or country capital found!</strong>
        </div>
    </div>

    <router-outlet></router-outlet>